body {
    background: linear-gradient(to left, white, rgb(142, 74, 74));
    scroll-behavior: smooth;
}

/* percentages are used for better displaying on phones */
#navigation {
    display: flex;
    background-color: lightblue;
    border-style: solid;
    width: 80%;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
    margin: 10px auto;
    font-size: 30px;
}

#navigation ul {
    list-style-type: upper-latin;
    padding: 5px;
    margin: 0;
}

/* an id for a wrap that wraps nearly the entire body */
#wrap {
    width: 90%;
    display: block;
    margin: 0 auto;
}

#timeDate {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: black;
    background-color: lightgreen;
    border-style: solid;
    padding: 10px;
    flex-direction: row;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

/* KFUPM Logo formatting */
#logo {
    position: fixed;
    width: 10%;
    right: 10px;
    top: 10px;
    z-index: -1;
    /* To make it always in the background */
    border-radius: 150px;
}

a:visited {
    color: indianred;
}

a:hover {
    color: black;
}

div#greet>h1 {
    color: black;
    font-size: 30px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

div#greet>h3 {
    color: black;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    text-shadow: 2px 2px 5px red;
    text-align: center;
}

h1 {
    color: black;

}

h2 {
    display: flex;
    color: black;
    font-size: 25px;
    margin-bottom: 10px;
    font-weight: bold;
    border-style: solid;
    border-color: green;
    background-color: lightgreen;
    width: 95%;
    margin: 10px auto;
    padding: 5px;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

h3 {
    color: black
}

.box {
    text-align: center;
    border-radius: 10px;
    border-style: outset;
    border-color: gold;
    padding: 10px;
    background-color: lightblue;
    width: 90%;
    max-width: 700x;
    box-shadow: 5px 5px 10px grey;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 30px;
}

#box4 {
    flex-direction: column;
}

#box5 {
    flex-direction: column;
    gap: 10px;
    align-items: center;
}



.title {
    display: flex;
    background-color: lightyellow;
    border-style: inset;
    margin: 10px auto;
    align-items: center;
    justify-content: center;
    width: 70%;
}

.projImg {
    width: 70%;
    max-width: 270px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px grey;
}

#Message {
    width: 90%;
    max-width: 2000px;
    height: 300px;
    border-radius: 15px;
    box-shadow: 5px 5px 10px grey;
    align-self: center;
}


#submit {
    width: 20%;
    max-width: 200px;
    height: 50px;
    border-radius: 15px;
    box-shadow: 5px 5px 10px grey;
    background-color: lightgreen;
    font-size: 20px;
    font-weight: bold;
    align-self: center;
    margin-top: 10px;
}